 <div class="our_header">
        <header class="py-3 mb-3 border-bottom">
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <img src="./images/official__logo.png" alt="mdo" width="300" height="100">
                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="./images/default__pff.jpg" alt="mdo" width="60" height="60" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                      <li><a class="dropdown-item" href="/" id="home-btn" >Home</a></li>
                      
                      <li>
                        <a class="dropdown-item" href="/account" id="accountDropDown">Account</a>
                    </li>
                    
              
                        <li><a class="dropdown-item" href="/product_up" id = "uploadProductDropdown">Upload Product</a></li>
                    <li><a class="dropdown-item"  href="/myProducts" id = "myProductsDropdown">My Products</a></li>
                    <li><a class="dropdown-item" href="/notifications" id = 'notificationsDropdown'>Notifications</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="logout" id="logoutButton" class="btn btn-danger">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </header>
    </div>